h1,
h2 {
    font-family: monocpase;
    color:black;
    font-size: 32px;
    background: blue;
}

p{
    color:black;
    font-family: "Times New Roman";
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

strong{
    font-weight: normal;
}

div#myId {
  background: blue;  
}

.alert {
    color: black;
    background: green;
}

.stroker {
    color: black;
    border: 4px blue solid;
}

.photo {
    float: left;
    width: 140px;
}